.task {
  margin: 12px;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
.task-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.task-container>* {
  align-items: center;  
}
.task-name {
  width: 70%;
  flex-grow: 30;
}
.task-description {
  padding: 8px; 
  margin-top: 6px;
  margin-bottom: 6px;
}
.dates {
  padding-bottom: 6px;
  padding-right: 6px; 
  color: darkgray;
  flex-grow: 12;
}
.icon {
  cursor: pointer;
  flex-grow: 1;
  color: darkgray;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-align: right;
  flex-grow: 0.1;
}
.icon-right-space {
  margin-right: 4px;
}
.green:hover, .selected-green {
  color: rgb(72, 255, 0);
}
.red:hover {
  color: #ff0037;
}